@(message: String)
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Tic Tac Toe</title>
<link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/tictactor.css")">
</head>

<body>

<div class="container">
  <div class="header0">
    <p>Hola. Este es el clasico juego de Tic-Tac-Toe implementado en <a href="http://www.scala-lang.org/">Scala</a> y con el <a href="http://www.playframework.org/">Framework Play</a>
    </p>
    <p><a href="newGame">Jugar una partida contra el ordenador</a></p>
  <!-- end .header -->
  </div>
  
  <div class="content">
    <!-- end .content -->
  </div>
    
<!-- end .container -->
</div>

</body>
</html>
